.todoList {
  
}

.todoHeader {
    color: rgba(175,47,47,.15);
    font-size: 100px;
    font-weight: 100;
    text-align: center;
}

.todoListContainer {
    background-color: #fff;
    max-width: 550px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 25px 50px 0 rgba(0,0,0,.1);
}

.footerWrap {
    color: #bfbfbf;
    font-size: 10px;
    margin: 65px auto 0;
    text-align: center;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
}

.footerWrap p {
    line-height: 1;
    margin: 10px 0;
}


