.title {
  font-size: 30px;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.form_btn {
  background-color: antiquewhite;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.form {
  display: flex;
  align-items: center;
  width: 90%;
  input {
    height: 4rem;
    flex-grow: 1;
    margin-right: 1rem;
    border-radius: 0.7rem;
    padding: 0 1rem;
    border-width: 1px;
   
  }

  button {
    flex-shrink: 0;
    width: 5rem;
    height: 4rem;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-width: 1px;
  }
}
