.taskCheckBox {
  flex: 0 0 10%;
  max-width: 10%;
  height: 2rem;
  margin-top: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
}

.taskName {
  flex: 0 0 70%;
  max-width: 70%;
  padding: 8px 10px;
  color: #383f50;
  border: none;
  -webkit-user-select: none;
  user-select: none;
  &.taskNameDone {
    color: #b2b7bb;
    text-decoration: line-through;
  }
}

.taskActions {
  flex: 0 0 5%;
  max-width: 20%;
  display: flex;
  justify-content: space-between;
}

.taskBtn {
  flex: 0 0 3.5rem;
  max-width: 5rem;
  font-size: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.taskBtn:hover {
  opacity: 0.7;
}
