.title {
  margin-bottom: 2rem;
}

.task {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  cursor: pointer;
}

.taskFooter {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}



button {
  background-color: transparent;
  border: none;
  margin-left: 3px;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}

.active {
  border: 3px solid antiquewhite;
}
