.title {
  margin-bottom: 2rem;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}



.taskFooter {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  color: #777;
  align-items: center;
}

.taskClearCompletedBtn:hover {
  text-decoration: underline;
}

.taskClearCompletedBtn {
  color: #777;
}

.taskItemSortBtn button {
  background-color: transparent;
  border: none;
  margin-left: 3px;
  cursor: pointer;
  border-radius: 3px;
  margin: 3px;
  padding: 3px 7px;
  color: #777;
}

button.active {
  border: 1px solid rgba(175,47,47,.2);
}
